# ==========================
# Python
# ==========================
venv/
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/

# ==========================
# Banco de dados
# ==========================
*.db
*.sqlite3

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Variáveis de ambiente
# ==========================
.env
.env.*

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Frontend (Node/Vite)
# ==========================
frontend/node_modules/
frontend/dist/

# ==========================
# Arquivos do sistema
# ==========================
.DS_Store
Thumbs.db